.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.typedWrapper {
  margin-top: 0;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3.2rem;
}

.iconLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 48px;
  padding: 0 1.6rem;
}
